@model SpravaSmluv.Models.Advisor

@{
    ViewData["Title"] = "Upravit";
}

<h1>Upravit</h1>

<h4>Poradce</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                @Html.LabelFor(ad => ad.FirstName)
                @Html.TextBoxFor(ad => ad.FirstName, new { @class = "form-control" })
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(ad => ad.LastName)
                @Html.TextBoxFor(ad => ad.LastName, new { @class = "form-control" })
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(ad => ad.Email)
                @Html.TextBoxFor(ad => ad.Email, new { @type = "email", @class = "form-control", title = "Zadejte email v platném formátu!" })
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(ad => ad.PhoneNumber)
                @Html.TextBoxFor(ad => ad.PhoneNumber, new { @class = "form-control" })
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(ad => ad.PersonalIdentificationNumber)
                @Html.TextBoxFor(ad => ad.PersonalIdentificationNumber, new { @class = "form-control" })
                <span asp-validation-for="PersonalIdentificationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(ad => ad.Age)
                @Html.EditorFor(ad => ad.Age, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Uložit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zpátky na výpis</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
