@model SpravaSmluv.Models.Contract

@{
    ViewData["Title"] = "Upravit";
    List<Advisor> advisors = ViewData["Advisors"] as List<Advisor>;
    List<Client> clients = ViewData["Clients"] as List<Client>;
}

<h1>Upravit</h1>

<h4>Smlouva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="EvidenceNumber" />
            @*<div class="form-group">
                <label asp-for="EvidenceNumber" class="control-label"></label>
                <input asp-for="EvidenceNumber" class="form-control" />
                <span asp-validation-for="EvidenceNumber" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                @Html.DisplayNameFor(c => c.Institution)
                <div class="input-group">
                    @Html.TextBoxFor(c => c.Institution, new {@class = "form-control", @placeholder = "Název instituce", @required = "required"})
                    <span asp-validation-for="Institution" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.ClosureDate)
                @Html.TextBoxFor(c => c.ClosureDate, "{0:yyyy-MM-dd}", new {@class="form-control", @type="date"})
                @*<label asp-for="ClosureDate" class="control-label"></label>
                <input asp-for="ClosureDate" class="form-control"/>*@
                <span asp-validation-for="ClosureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.ExpirationDate)
                @Html.TextBoxFor(c => c.ExpirationDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                @*<label asp-for="ExpirationDate" class="control-label"></label>
                <input asp-for="ExpirationDate" class="form-control" />*@
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.TerminationDate)
                @Html.TextBoxFor(c => c.TerminationDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                @*<label asp-for="TerminationDate" class="control-label"></label>
                <input asp-for="TerminationDate" class="form-control" />*@
                <span asp-validation-for="TerminationDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Html.DisplayNameFor(c => c.Client)
                @Html.DropDownListFor(c => c.ClientId, new SelectList(clients, "Id", "FullName"), "-Vyberte klienta-", new {@class = "form-control", @option=Model.ClientId})
                @*if (clients.Count > 0)
                {
                    <label asp-for="Client" class="control-label"></label>
                    <select class="form-control" id="clientId" asp-for="ClientId">
                        @foreach (Client client in clients)
                        {
                            <option value="@client.Id">@client.ToString()</option>
                        }
                    </select>
                    <span asp-validation-for="ClientId" class="text-danger"></span>
                }
                else
                {
                    <p> Žádní klienti nejsou k dispozici </p>
                }*@
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(c => c.ContractManager)
                @Html.DropDownListFor(c => c.ContractManagerId, new SelectList(advisors, "Id", "FullName"), "-Vyberte spravce smlouvy-", new {@class = "form-control", @option=Model.ContractManager })

            </div>
            @*<div class="form-group">
                @Html.DisplayNameFor(c => c.Advisors)
                @Html.ListBox("advisorIds", new MultiSelectList(advisors, "Id", "FullName"), new { @class = "form-control", multiple = "multiple"})
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zpátky na výpis"</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
